# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Often these are written in any vertical, and can be added if needed
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nosexy
.noseids
.track
.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/

# Translations
*.mo
*.gmo

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package development, you might want to share this,
#   but for an application, you should skip it.
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in git.
#   But Virtualenv created in-project should be ignored.
.venv/
venv/
ENV/
env/

# Editor/IDE Configs
.idea/
.vscode/
*.swp
*.swo

# Local Configuration files
.env
.env.shared
.env.private
